# Images
/images
*.jpg
*.jpeg
*.png
*.gif
*.psd
*.ai

# Documents
/documents
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraformrc
terraform.rc

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
/dist
/tmp
*.log